.bottom-page {
    background-color: darkslategrey;
    height: 100vh;
}

/* Animate dot-1 dot-2 dot-3 to move from left to right */
@keyframes dot-1 {
   0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes dot-2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes dot-3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.dot-1 {
    display: inline-block;
    animation: dot-1 1s ease-in-out infinite;
    animation-delay: 1.15s;
}

.dot-2 {
    display: inline-block;
    animation: dot-2 1s ease-in-out infinite;
    animation-delay: 1.25s;
}

.dot-3 {
    display: inline-block;
    animation: dot-3 1s ease-in-out infinite;
    animation-delay: 1.35s;
}